<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-lg">
                <h2 class="text-center mb-4">Employee Registration</h2>
                <form [formGroup]="empregisterform" (ngSubmit)="empregister()">
                    <div class="mb-3">
                        <label for="employeeName" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" id="employeeName" formControlName="employeeName">
                    </div>
                    <div class="mb-3">
                        <label for="contactNo" class="form-label">Contact Number</label>
                        <input type="tel" class="form-control" id="contactNo" formControlName="contactNo">
                    </div>
                    <div class="mb-3">
                        <label for="emailId" class="form-label">Email ID</label>
                        <input type="email" class="form-control" id="emailId" formControlName="emailId">
                    </div>
                    <div class="mb-3">
                        <label for="emailId" class="form-label">Select Department</label>
                       <select id="" class="w-100" formControlName="deptId">
                        <option value="" selected>Select Department</option>
                        <option value="" *ngFor="let dept of deptArray; let i=index" [value]="dept.departmentId">{{dept.departmentName}}</option>
                       </select>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <select class="form-select" id="gender" formControlName="gender">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Role</label>
                        <select class="form-select" formControlName="role">
                            <option value="">Select Role</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                          </select>
                          
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>

                <form [formGroup]="loginform" (ngSubmit)="login()">
                    <h2 class="text-center mb-4">Login</h2>
                    <div class="mb-3">
                        <label for="userName" class="form-label">Email</label>
                        <input type="email" class="form-control" id="userName"  formControlName="emailId">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
