<div class="container">
    <h2>All Department Details</h2>
    <table>
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Department Head</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of deptdetailsArray; let i=index">
                <td>{{dept.deptName}}</td>
                <td>{{dept.deptHeadName ? dept.deptHeadName : 'No Head Appointed'}}</td>
                <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        (click)="getEmployeeDetailsbyDeptId(dept.deptId) "><i class="fa-solid fa-eye"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>




<!-- employee details by ID -->
<!-- Button trigger modal -->
<button type="button">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Email Id</th>
                            <th>Contact Number</th>
                            <th>Gender</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empdetails of empdetailsArray; let i=index">
                            <td>{{i+1}} </td>
                            <td>{{empdetails.employeeName}} </td>
                            <td>{{empdetails.emailId}} </td>
                            <td>{{empdetails.contactNo}} </td>
                            <td>{{empdetails.gender}} </td>
                            <td>{{empdetails.role}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>